body {
    background: #F2EBD9;
    color: #575F7D;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
    text-align: center;
  }


  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-size: 32px;
    font-weight: 900;
  }

  h2 {
    color: #83623D;
    font-size: 25px;
    font-weight: 500;
  }
  
.btn-brown {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #F7F9FC;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 20px;
    background-color: #D5A171;
    border-radius: 4px;
  }

.btn-brown:hover {
    background-color: #575F7D;
  }

#img-circle {
    height: 200px;
    border-radius: 50%;
}

.card-white {
    border-radius: 4px;
    padding: 40px;
    background-color: #F7F9FC;
    text-align: center;
    margin: 20px;
}

.container {
    margin: 10px auto;
    width: 700px;
}

#img-title {
    height: 25px;
}

.img-link {
    height: 50px;
    margin: 20px;
}

.img-link:hover {
    opacity: 50%;
}

#introduction {
    margin-bottom: 40px;  
}